.container-drag {
  display: flex;
  justify-content: space-between;
}

.options {
  width: 40%;
  height: 100vh;
}

.draggable {
  width: 90%;
  border: 3px solid #00af91;
  line-height: 5em;
  margin-bottom: 2rem;
}

.droppable {
  width: 40%;
  height: 80vh;
  top: 10;
  margin-top: 5rem;
  border: 3px dashed #dce2e1;
  border-radius: 4px;
}

.task-header {
  width: 100%;
  font-size: 28px;
}

.ancient-word {
  padding: 55px;
  width: 200px;
  height: 200px;
}
