.test-container {
  display: flex;
}

.test-area {
  width: 80%;
  justify-content: center;
}

.drawing-background {
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-background {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  border: 3px solid #dce2e1;
}

.audio-button {
  background-color: #71b270; /* Green */
  border: none;
  color: white;
  margin-top: 1rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.audio-button:hover {
  background-color: #4caf50; /* Green */
  color: black;
}

.hint-button {
  padding: 10px 10px;
  font-size: 20px;
  margin-bottom: 1rem;
  background-color: #5ac18e;
}

.hint-details {
  font-size: 26px;
}

.hint-details > summary {
  padding: 15px 15px;
  width: 10%;
  font-size: 26px;
  color: white;
  margin: 0 auto;
  background-color: #71b270;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.hint-ul {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 10px;
}

.hint-li {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
