.word-container {
  display: flex;
}

.word-area {
  margin-top: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.evolution {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.grid {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.grid-children {
  background: #fff;
  flex-direction: row;
}

.demo-button {
  margin-left: 1rem;
  background-color: #5ac18e;
}
