.wordcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wordcard-item {
  width: 300px;
  height: 60px;
  margin: 10px;
  padding: 8px 8px 8px 8px;
  border: 3px solid #f8cfa1;
  list-style: none;
}

.wordcard-item a {
  text-decoration: none;
  color: #0a0e11;
  font-size: 28px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.wordcard-item a:hover {
  background-color: #f8cfa1;
}
