.wordcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wordcard-item {
  width: 300px;
  height: 80px;
  margin: 20px;
  border-radius: 25px;
  background-color: #FFF4CD;
  list-style: none;
}

.wordcard-item a {
  text-decoration: none;
  color: #0a0e11;
  font-size: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.wordcard-item a:hover {
  color: #269950;
  background-color: white;
  border-radius: 25px;
}
