.word-container {
  display: flex;
}

.word-area {
  margin-top: 1rem;
  width: 80%;
  display: grid;
  grid-template-rows: 0px 600px 0px;
  align-items: center;
}

.sentence {
  margin-top: 10rem;
  font-size: 30px;
}

.evolution {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.video {
  background: #fff;
  margin-bottom: 10rem;
}

.demo-button {
  margin-right: 5rem;
  background-color: #5ac18e;
}
