.draggable.stroke {
  height: 20rem;
}

.drag-drop-area.stroke {
  border-radius: 5px 20px 5px;
  margin-top: 2rem;
  width: 35%;
  height: 36rem;
  background-color: beige;
}

.droppable.stroke {
  width: 100%;
}

.droppable.stroke.top {
  height: 32%;
  margin-bottom: -3rem;
}

.droppable.stroke.bottom {
  height: 60%;
  margin-top: 0%;
}

