.container-drag {
  display: flex;
  justify-content: space-between;
}

.options {
  width: 40%;
  height: 100vh;
}

.draggable {
  width: 90%;
  border: 3px solid #dce2e1;
  line-height: 5em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.droppable {
  width: 40%;
  height: 80vh;
  top: 10;
  margin-top: 5rem;
  border: 3px dashed #00af91;
  border-radius: 4px;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.word-option {
  display: inline-block;
  margin-top: 20px;
  font-size: 100px;
}

.task-header {
  position: relative;
  left: 25%;
  top: -65%;
  border: 3px solid #dce2e1;
  height: 30%;
  width: 10%;
  font-size: 28px;
  color: #00af91;
}

.selected {
  margin-top: 9rem;
  margin-left: 6rem;
  width: 300px;
  height: 300px;
  filter: invert(49%) sepia(19%) saturate(5757%) hue-rotate(331deg)
    brightness(109%) contrast(101%);
}

.selected-word {
  width: 500px;
  height: 500px;
  margin-top: 10rem;
  font-size: 400px;
  color: #ff6252;
}

.ancient-word {
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.next-button {
  position: relative;
  bottom: -45%;
  right: -85%;
  font-size: 70px;
  background-color: inherit;
  border: none;
  color: #71b270;
  padding: 10px 15px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.next-button:hover {
  color: #00af91;
}

.Toastify__toast--warning {
  width: 300px;
  font-size: 50px;
  color: black;
}
