.test-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.test-area {
  width: 100%;
  justify-content: center;
}

.drawing-background {
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.audio-button {
  background-color: beige; /* Green */
  border: none;
  color: black;
  margin-top: 1rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.audio-button:hover {
  color: #269950;
  background-color: white;
}

.hint-button {
  padding: 10px 10px;
  font-size: 20px;
  margin-bottom: 1rem;
  background-color: #5ac18e;
}

.hint-details {
  font-size: 26px;
}

.hint-details > summary {
  padding: 15px 15px;
  width: 10%;
  font-size: 26px;
  color: white;
  margin: 0 auto;
  background-color: #71b270;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.hint-ul {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 10px;
}

.hint-li {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.level-button {
  font-size: 70px;
  background-color: inherit;
  border: none;
  color: #71b270;
  padding: 10px 15px;
  border-radius: 12px;
  transition-duration: 0.4s;
}
