.word-container {
  display: flex;
}

.word-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.word-card {
  text-decoration: none;
  border-radius: 5px 20px 5px;
  width: 40%;
  height: 95%;
  color: #0a0e11;
  background-color: beige;
}

.evolution {
  height: 60%;
}

.color-word {
  margin-top: 10%;
  height: 60%;
  overflow: hidden;
}

